<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092969773825-b25njevbie2o1npoceubrfr2rgq6r1mq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092969773825-b25njevbie2o1npoceubrfr2rgq6r1mq</string>
	<key>API_KEY</key>
	<string>AIzaSyChMdOtVy1h0dkHb_hFmounJpg7I_d8Bjs</string>
	<key>GCM_SENDER_ID</key>
	<string>1092969773825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.originals.parke</string>
	<key>PROJECT_ID</key>
	<string>parke-42fac</string>
	<key>STORAGE_BUCKET</key>
	<string>parke-42fac.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092969773825:ios:3b7be1604be3d75d843900</string>
	<key>DATABASE_URL</key>
	<string>https://parke-42fac-default-rtdb.firebaseio.com</string>
</dict>
</plist>